body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    color: black;
}

header {
    background-color: #252529;
    color: white;
    padding: 20px 0;
    display: flex;
    align-items: center; 
    position: fixed;
    height: 30px;
    top: 0;
    width: 100%;
    z-index: 1000; 
    padding-left: 20px; 
}

header h1 {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    margin-left: 10px; 
}

header .header-logo {
    width: 30px;
    height: auto;
}

.main-container {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5px; 
}

.left-side {
    width: 50%;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-top: 100px; 
}

h2 {
    font-size: 24px; 
    margin-top: 10px;
    font-weight: bold;
}

h3.subtitulo {
    font-size: 18px; 
    margin-top: 5px;
    font-weight: normal; 
    color: #ffffff;
}

.subtitulo {
    font-size: 20px;
    margin-top: 10px;
    font-weight: normal;
    color: #808080;
}

.search-container {
    position: relative;
    width: 100%;
    max-width: 300px;
}

#cep {
    width: 100%;
    padding: 10px;
    padding-right: 40px; 
    border: 2px solid #FF2F1F;
    border-radius: 25px;
}

.search-icon {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #111010;
    outline: none; 
}

.search-icon i {
    pointer-events: none; 
}

.container {
    width: 40%;
    height: 120%;
    background-color: #ff4f3fbb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    margin-top: 100px; 
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background-color: #ffffff;
    color: #333;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    text-align: left;
}

button {
    padding: 10px;
    background-color: #FF4F3F;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px; 
}

select {
    margin-top: 20px;
    padding: 8px;
    width: 100%;
}

#ordenar {
    padding: 8px 12px; 
    border: 2px solid #FF4F3F; 
    border-radius: 12px;
    background-color: #ffffff; 
    color: rgb(0, 0, 0); 
    font-size: 16px; 
    cursor: pointer; 
    transition: all 0.3s ease; 
}

@media (max-width: 768px) {
    
    .left-side {
        width: 100%;
        text-align: center;
    }

    .container {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .illustrative-image img {
        max-width: 100%;
        height: auto;
    }

    .search-container input {
        width: 80%;
    }

    #resultadoEndereco {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

#resultadoEndereco {
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    width: 100%; 
    max-width: 800px; 
    margin-left: auto; 
    margin-right: auto; 
}
